*
{
    box-sizing: inherit;
    transition: all 0.6s ease;
}
html, body{
    min-height: 100%;
    width: 100%;
    font-family: Poppins;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-color: #111;
}
.button{
    color: #FDA9DC;
    font-size: 21px;
    border: 3px solid #FDA9DC;
    border-radius: 100px;
    padding: 1rem 2rem;
    cursor: pointer;
}
.button:hover{
    background: #FDA9DC;
    color: #000;
    box-shadow: 0 0 50px #FDA9DC,0 0 21px #FDA9DC;
}
.button-fill{
    
}