*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
.wrapper{
    display: flex;
    justify-self: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
}
a{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
}