*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
.wrapper{
    display: flex;
    justify-self: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
}
a{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #FDA9DC;
    font-size: 1.2rem;
    font-weight: bold;
    transition: .5s;
    overflow: hidden;
    margin-right: 70px;
}
a:hover{
    background-color: #FDA9DC
    color #050801;
    box-shadow: 0 0 5px #FDA9DC,
                0 0 25px #FDA9DC,
                0 0 50px #FDA9DC,
                0 0 200px #FDA9DC;
    -webkit-box-reflect:below 1px linear-gradient(transp);
}